body {
	font-family: serif;
	color: #333333;
	background-color: #ffffff;
}

h1 {
	font-style: italic;
	text-align:center;
	font-size: 5em;
	margin-bottom: 0;
}

h2 {
	font-style: italic;
	text-align:center;
	font-size: 2em;
	margin-left: 5%;
	margin-right: 5%;
}

li {
	font-family: inherit;
	font-size: inherit;
	text-align:center;
	list-style:none;
	font-style: italic;
	margin-bottom: 0.5em;
}

.center {
	margin: auto;
	display: block;
	width: 40em;
}

.text {
	font-family: serif;
	font-size: 1.2em;
	margin: auto;
	display: block;
	width: 70%;
}

a {
	font-family: inherit;
	font-size: inherit;
}

pre { font-size: 2em; font-family: monospace; color: #333333; background-color: #ffffff; }
.Special { color: #183691; }
.Function { color: #795da3; }
.Conditional { color: #a71d5d; }
.Number { color: #0086b3; }
.String { color: #183691; }
.Normal { color: #333333; background-color: #ffffff; padding-bottom: 1px; }
.Comment { color: #969896; font-style: italic}
.Keyword { color: #a71d5d; }
.Constant { color: #0086b3; }
.Operator { color: #333333; }


