{{/* A base template for all pages in the site */}}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ $css := resources.Get "main.css" | minify -}}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
    {{ if eq .RelPermalink "/" -}}
    <title>{{ $.Site.Title }}</title>
    {{ else -}}
    <title>{{ .Title }}</title>
    {{ end -}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    {{/* Allows child templates to define this block */}}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <br /><br /><br />
  </body>
</html>
